@font-face {
    font-family: "Pretendard";
    src:
        url("../assets/font/Pretendard-ExtraBold.ttf") format("ttf"),
        url("../assets/font/Pretendard-ExtraBold.woff") format("woff"),
        url("../assets/font/Pretendard-ExtraBold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Pretendard";
    src:
        url("../assets/font/Pretendard-bold.ttf") format("ttf"),
        url("../assets/font/Pretendard-bold.woff") format("woff"),
        url("../assets/font/Pretendard-bold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Pretendard";
    src:
        url("../assets/font/Pretendard-Medium.ttf") format("ttf"),
        url("../assets/font/Pretendard-Medium.woff") format("woff"),
        url("../assets/font/Pretendard-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Pretendard";
    src:
        url("../assets/font/Pretendard-Regular.ttf") format("ttf"),
        url("../assets/font/Pretendard-Regular.woff") format("woff"),
        url("../assets/font/Pretendard-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard";
    src:
        url("../assets/font/Pretendard-Light.ttf") format("ttf"),
        url("../assets/font/Pretendard-Light.woff") format("woff"),
        url("../assets/font/Pretendard-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

